@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
.container {
  height: 300px;
  margin: 40px auto 50px auto;
  position: relative;
}

.artboard {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.deer {
  width: 50px;
  margin: 0 auto;
  position: relative;
}

.rocking {
  animation: rocking 0.4s ease-in-out infinite alternate-reverse;
  transform-origin: bottom left;
  position: relative;
  z-index: 1;
}

.head {
  position: relative;
  width: 50px;
}

.horns {
  animation: rocking 0.4s cubic-bezier(0.4, 0, 0.2, 1) infinite
    alternate-reverse;
  height: 55px;
  position: relative;
  top: 21px;
  width: 50px;
}

.horn {
  position: relative;
}
.horn:before {
  background-color: #91655d;
  border-radius: 7px 7px 0 0;
  content: "";
  display: block;
  height: 55px;
  position: absolute;
  width: 7px;
  z-index: 1;
}
.horn .line {
  background-color: #91655d;
  border-radius: 7px 0 0 7px;
  height: 7px;
  width: 20px;
  margin-bottom: 15px;
  position: relative;
  top: 10px;
}
.horn .line-one {
  width: 15px;
}
.horn .line-three {
  top: -22px;
  width: 17px;
}
.horn-left {
  top: -7px;
  transform: rotate(-25deg);
}
.horn-left:before {
  box-shadow: inset 2px 0 0 0 #9c7169;
}
.horn-left .line {
  box-shadow: inset 0 2px 0 0 #9c7169;
  right: 15px;
  transform: rotate(30deg);
}
.horn-left .line-one {
  right: 10px;
}
.horn-left .line-three {
  box-shadow: inset 0 -2px 0 0 #9c7169;
  right: -3px;
  transform: rotate(160deg);
}
.horn-right {
  bottom: 55px;
  left: 40px;
  transform: rotate(25deg);
}
.horn-right:before {
  box-shadow: inset -2px 0 0 0 #835f5a;
}
.horn-right .line {
  box-shadow: inset 0 2px 0 0 #835f5a;
  right: -2px;
  transform: rotate(150deg);
}
.horn-right .line-three {
  right: 13px;
  transform: rotate(20deg);
}

.ears {
  position: absolute;
  top: 70px;
}

.ear {
  background-color: #91655d;
  border-radius: 100% 50% 50% 50%;
  height: 18px;
  position: relative;
  right: 20px;
  top: 10px;
  transform: rotate(30deg);
  transform-origin: 100%;
  width: 30px;
}
.ear:before {
  background-color: #e7beb2;
  border-radius: 100% 50% 50% 50%;
  height: 9px;
  content: "";
  display: block;
  left: 5px;
  position: relative;
  top: 5px;
  width: 15px;
}
.ear-left {
  animation: ear-left 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite
    alternate-reverse;
  transform: rotate(30deg);
}
.ear-right {
  animation: ear-right 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) 2s infinite
    alternate-reverse;
  left: 10px;
  right: 0;
  top: -8px;
  transform: rotate(160deg);
}

.eyes {
  position: absolute;
  top: 90px;
  right: -5px;
  width: 32px;
  z-index: 2;
}
.eyes .eye {
  background: linear-gradient(0deg, white 50%, #aa8275 50%);
  border-radius: 15px;
  height: 15px;
  width: 15px;
}
.eyes .eye:before {
  animation: eaves 3s infinite alternate-reverse;
  background-color: #aa8275;
  border-radius: 9px 9px 0 0;
  height: 9px;
  content: "";
  display: block;
  position: relative;
  width: 15px;
  top: -1px;
  z-index: 1;
}
.eyes .eye:after {
  animation: eyes 3s infinite alternate-reverse;
  background-color: #495169;
  border-radius: 5px;
  height: 5px;
  content: "";
  display: block;
  left: 5px;
  position: relative;
  top: -3px;
  transform: translate(3px, 2px);
  width: 5px;
}
.eyes .eye-left {
  float: left;
}
.eyes .eye-right {
  float: right;
}

.nose {
  background-color: #91655d;
  border-radius: 0 7px 15px;
  top: 47px;
  height: 18px;
  left: 40px;
  position: relative;
  width: 20px;
  z-index: 2;
}
.nose:before {
  background-color: #fb5d5d;
  border-radius: 15px;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  right: -0.5px;
  top: -0.5px;
  width: 16px;
}
.nose:after {
  background-color: white;
  border-radius: 5px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 4px;
  top: 2px;
  width: 5px;
}

.body {
  background-color: #91655d;
  border-radius: 50px 50px 0;
  box-shadow: inset 7px 0 0 0 #9c7169;
  height: 140px;
  position: relative;
  width: 50px;
  z-index: 1;
}
.body:before {
  background-color: #e7beb2;
  border-radius: 20px 0 0 20px;
  bottom: 20px;
  box-shadow: inset -7px 0 0 0 #c39e9a;
  content: "";
  display: block;
  height: 65px;
  position: absolute;
  right: 0;
  width: 20px;
}

.hooves {
  position: relative;
  bottom: 40px;
  right: 34px;
}

.hoof-one {
  animation: jump 0.3s ease-in-out infinite alternate-reverse;
  left: 10px;
  position: relative;
  top: 70px;
  transform: rotate(25deg);
  transform-origin: 100% 50%;
}
.hoof-one .line {
  height: 30px;
  border: 20px solid;
  border-radius: 40px;
  border-color: transparent transparent #91655d transparent;
  left: 25px;
  width: 30px;
  position: relative;
  top: 5px;
  transform: rotate(-30deg);
}
.hoof-one .anim-part {
  position: relative;
  bottom: 23px;
  left: 81px;
  transform: rotate(-75deg);
  transform-origin: left;
}
.hoof-one .circle {
  animation: hoof-one 0.3s ease-in-out infinite alternate-reverse;
  background-color: #91655d;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  transform: translateX(3px) rotate(0deg);
}
.hoof-one .circle-last {
  border-radius: 20px 0 0 20px;
  transform: translateX(2px) rotate(0deg);
}
.hoof-one .circle-last:before {
  content: "";
  display: block;
  border-top: 20px solid #674a4a;
  border-left: 7px solid transparent;
  height: 0;
  left: 10px;
  width: 7px;
  position: relative;
  z-index: 1;
}
.hoof-one .circle-last:after {
  background-color: #ffb63c;
  border-radius: 10px;
  bottom: 30px;
  content: "";
  display: block;
  height: 40px;
  left: 19px;
  position: relative;
  width: 9px;
}
.hoof-two {
  animation: jump-two 0.3s ease-in-out infinite alternate-reverse;
  left: 55px;
  position: relative;
  top: 10px;
  z-index: -1;
}
.hoof-two .line-one,
.hoof-two .line-two {
  height: 10px;
  border: 20px solid;
  border-radius: 40px;
  border-color: transparent transparent #91655d transparent;
  width: 10px;
  position: absolute;
}
.hoof-two .line-one {
  transform: rotate(-45deg);
}
.hoof-two .line-two {
  left: 30px;
  transform: rotate(135deg);
}

.tail {
  background-color: #9c7169;
  bottom: 0;
  left: 4px;
  position: absolute;
  width: 20px;
  z-index: 0;
}
.tail .circle {
  -webkit-animation: tail 2s cubic-bezier(0, 0.02, 0.9, 2) infinite;
  animation: tail 2s cubic-bezier(0, 0.02, 0.9, 2) infinite;
  background-color: #9c7169;
  border-radius: 11px;
  height: 12px;
  position: relative;
  right: 2px;
  transform: rotate(-5deg);
  width: 12px;
}

.legs {
  position: relative;
}
.legs:before {
  background: linear-gradient(to left, #91655d 50%, #9c7169 50%);
  bottom: 0;
  content: "";
  display: block;
  height: 10px;
  left: 7px;
  position: absolute;
  width: 30px;
  z-index: 0;
}

.leg-left:before,
.leg-left:after,
.leg-right:before,
.leg-right:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
.leg-left .anim-part {
  animation: leg-left 0.4s ease-out infinite alternate-reverse;
  position: relative;
  top: 1px;
  transform: rotate(5deg) translateX(3px);
  transform-origin: right;
  z-index: 2;
}
.leg-left .anim-part:before,
.leg-left .anim-part:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
.leg-left .anim-part:before {
  height: 16px;
  width: 16px;
  border: 20px solid;
  border-radius: 30px;
  border-color: transparent #835f5b transparent transparent;
  transform: rotate(-45deg);
  top: -17px;
  left: 17px;
}
.leg-left .anim-part .line {
  background-color: #835f5b;
  height: 25px;
  position: absolute;
  width: 20px;
  left: 51px;
  top: 7px;
  z-index: 2;
  transform: skew(-9deg);
}
.leg-left .anim-part:after {
  background-color: #835f5b;
  height: 20px;
  left: 33px;
  top: -20px;
  width: 24px;
}
.leg-left:after {
  background-color: #674a4a;
  height: 13px;
  left: 48px;
  top: 32px;
  transform: skew(-8deg);
  width: 20px;
  z-index: 2;
}
.leg-right {
  position: relative;
  right: 10px;
}
.leg-right:before {
  height: 30px;
  width: 38px;
  border: 20px solid;
  border-radius: 40px;
  border-color: #91655d transparent transparent transparent;
  transform: rotate(-15deg);
  z-index: 3;
  top: -29px;
  left: 21px;
}
.leg-right .anim-part {
  position: absolute;
  left: 64px;
  bottom: 9px;
  transform: rotate(43deg);
  z-index: 2;
}
.leg-right .anim-part .circle {
  animation: leg-right 0.4s ease-out infinite alternate-reverse;
  width: 20px;
  height: 20px;
  background-color: #91655d;
  border-radius: 20px;
  transform: translateX(4px) rotate(4deg);
}
.leg-right .anim-part .circle-last {
  border-radius: 20px 0 0 20px;
}
.leg-right .anim-part .circle-last:before {
  content: "";
  display: block;
  border-bottom: 20px solid #674a4a;
  border-right: 2px solid transparent;
  height: 0;
  left: 15px;
  width: 11px;
  position: relative;
  z-index: 1;
}

.presents {
  top: 3px;
  height: 45px;
  margin: 0 auto;
  position: relative;
  width: 110px;
}
.presents:after {
  animation: shadow 0.4s ease-out infinite alternate-reverse;
  background-color: #e7eff7;
  bottom: 0;
  border-radius: 7px;
  content: "";
  display: block;
  height: 7px;
  left: -22px;
  position: absolute;
  width: 170px;
}

.present {
  border-radius: 4px;
  bottom: 3px;
  position: absolute;
  z-index: 1;
}
.present:before,
.present:after {
  content: "";
  display: block;
  position: relative;
}
.present:before {
  border-radius: 4px 4px 2px 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  right: 1px;
}
.present-one {
  background-color: #fb5d5d;
  height: 45px;
  right: 32px;
  width: 45px;
  z-index: 2;
}
.present-one:before {
  background-color: #fc7676;
  height: 12px;
  width: 47px;
}
.present-two {
  background-color: #82dfe3;
  height: 30px;
  width: 30px;
}
.present-two:before {
  background-color: #97e4e8;
  height: 10px;
  width: 32px;
}
.present-two:after {
  background-color: #69b2cb;
  bottom: 10px;
  height: 100%;
  left: 7px;
  width: 5px;
}
.present-two-right {
  right: 5px;
}
.present-three {
  background-color: #ffb63c;
  height: 25px;
  left: 25px;
  margin: auto;
  width: 25px;
  z-index: 2;
}
.present-three:before {
  background-color: #ffc056;
  height: 8px;
  width: 27px;
}
.present-three:after {
  background-color: #fb5353;
  bottom: 8px;
  height: 100%;
  left: 13px;
  width: 5px;
}

.snowflake {
  background-color: #e4e4e4;
  border-radius: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 3;
}

.snowflake:nth-child(0) {
  -webkit-animation: snow-0 11s infinite;
  animation: snow-0 11s infinite;
}

@-webkit-keyframes snow-0 {
  from {
    transform: translate(270px, -5px);
  }
  to {
    transform: translate(270px, 427px);
  }
}

@keyframes snow-0 {
  from {
    transform: translate(270px, -5px);
  }
  to {
    transform: translate(270px, 427px);
  }
}
.snowflake:nth-child(1) {
  -webkit-animation: snow-1 11s infinite;
  animation: snow-1 11s infinite;
}

@-webkit-keyframes snow-1 {
  from {
    transform: translate(42px, -48px);
  }
  to {
    transform: translate(42px, 500px);
  }
}

@keyframes snow-1 {
  from {
    transform: translate(42px, -48px);
  }
  to {
    transform: translate(42px, 500px);
  }
}
.snowflake:nth-child(2) {
  -webkit-animation: snow-2 9s infinite;
  animation: snow-2 9s infinite;
}

@-webkit-keyframes snow-2 {
  from {
    transform: translate(23px, -163px);
  }
  to {
    transform: translate(23px, 487px);
  }
}

@keyframes snow-2 {
  from {
    transform: translate(23px, -163px);
  }
  to {
    transform: translate(23px, 487px);
  }
}
.snowflake:nth-child(3) {
  -webkit-animation: snow-3 7s infinite;
  animation: snow-3 7s infinite;
}

@-webkit-keyframes snow-3 {
  from {
    transform: translate(235px, -247px);
  }
  to {
    transform: translate(235px, 494px);
  }
}

@keyframes snow-3 {
  from {
    transform: translate(235px, -247px);
  }
  to {
    transform: translate(235px, 494px);
  }
}
.snowflake:nth-child(4) {
  -webkit-animation: snow-4 11s infinite;
  animation: snow-4 11s infinite;
}

@-webkit-keyframes snow-4 {
  from {
    transform: translate(306px, -151px);
  }
  to {
    transform: translate(306px, 690px);
  }
}

@keyframes snow-4 {
  from {
    transform: translate(306px, -151px);
  }
  to {
    transform: translate(306px, 690px);
  }
}
.snowflake:nth-child(5) {
  -webkit-animation: snow-5 12s infinite;
  animation: snow-5 12s infinite;
}

@-webkit-keyframes snow-5 {
  from {
    transform: translate(219px, -88px);
  }
  to {
    transform: translate(219px, 509px);
  }
}

@keyframes snow-5 {
  from {
    transform: translate(219px, -88px);
  }
  to {
    transform: translate(219px, 509px);
  }
}
.snowflake:nth-child(6) {
  -webkit-animation: snow-6 10s infinite;
  animation: snow-6 10s infinite;
}

@-webkit-keyframes snow-6 {
  from {
    transform: translate(150px, -72px);
  }
  to {
    transform: translate(150px, 534px);
  }
}

@keyframes snow-6 {
  from {
    transform: translate(150px, -72px);
  }
  to {
    transform: translate(150px, 534px);
  }
}
.snowflake:nth-child(7) {
  -webkit-animation: snow-7 11s infinite;
  animation: snow-7 11s infinite;
}

@-webkit-keyframes snow-7 {
  from {
    transform: translate(216px, -111px);
  }
  to {
    transform: translate(216px, 652px);
  }
}

@keyframes snow-7 {
  from {
    transform: translate(216px, -111px);
  }
  to {
    transform: translate(216px, 652px);
  }
}
.snowflake:nth-child(8) {
  -webkit-animation: snow-8 12s infinite;
  animation: snow-8 12s infinite;
}

@-webkit-keyframes snow-8 {
  from {
    transform: translate(11px, -22px);
  }
  to {
    transform: translate(11px, 457px);
  }
}

@keyframes snow-8 {
  from {
    transform: translate(11px, -22px);
  }
  to {
    transform: translate(11px, 457px);
  }
}
.snowflake:nth-child(9) {
  -webkit-animation: snow-9 8s infinite;
  animation: snow-9 8s infinite;
}

@-webkit-keyframes snow-9 {
  from {
    transform: translate(81px, -108px);
  }
  to {
    transform: translate(81px, 424px);
  }
}

@keyframes snow-9 {
  from {
    transform: translate(81px, -108px);
  }
  to {
    transform: translate(81px, 424px);
  }
}
.snowflake:nth-child(10) {
  -webkit-animation: snow-10 9s infinite;
  animation: snow-10 9s infinite;
}

@-webkit-keyframes snow-10 {
  from {
    transform: translate(40px, -121px);
  }
  to {
    transform: translate(40px, 631px);
  }
}

@keyframes snow-10 {
  from {
    transform: translate(40px, -121px);
  }
  to {
    transform: translate(40px, 631px);
  }
}
.snowflake:nth-child(11) {
  -webkit-animation: snow-11 13s infinite;
  animation: snow-11 13s infinite;
}

@-webkit-keyframes snow-11 {
  from {
    transform: translate(378px, -98px);
  }
  to {
    transform: translate(378px, 403px);
  }
}

@keyframes snow-11 {
  from {
    transform: translate(378px, -98px);
  }
  to {
    transform: translate(378px, 403px);
  }
}
.snowflake:nth-child(12) {
  -webkit-animation: snow-12 13s infinite;
  animation: snow-12 13s infinite;
}

@-webkit-keyframes snow-12 {
  from {
    transform: translate(317px, -57px);
  }
  to {
    transform: translate(317px, 423px);
  }
}

@keyframes snow-12 {
  from {
    transform: translate(317px, -57px);
  }
  to {
    transform: translate(317px, 423px);
  }
}
.snowflake:nth-child(13) {
  -webkit-animation: snow-13 11s infinite;
  animation: snow-13 11s infinite;
}

@-webkit-keyframes snow-13 {
  from {
    transform: translate(82px, -100px);
  }
  to {
    transform: translate(82px, 629px);
  }
}

@keyframes snow-13 {
  from {
    transform: translate(82px, -100px);
  }
  to {
    transform: translate(82px, 629px);
  }
}
.snowflake:nth-child(14) {
  -webkit-animation: snow-14 12s infinite;
  animation: snow-14 12s infinite;
}

@-webkit-keyframes snow-14 {
  from {
    transform: translate(231px, -145px);
  }
  to {
    transform: translate(231px, 541px);
  }
}

@keyframes snow-14 {
  from {
    transform: translate(231px, -145px);
  }
  to {
    transform: translate(231px, 541px);
  }
}
.snowflake:nth-child(15) {
  -webkit-animation: snow-15 13s infinite;
  animation: snow-15 13s infinite;
}

@-webkit-keyframes snow-15 {
  from {
    transform: translate(361px, -200px);
  }
  to {
    transform: translate(361px, 448px);
  }
}

@keyframes snow-15 {
  from {
    transform: translate(361px, -200px);
  }
  to {
    transform: translate(361px, 448px);
  }
}
.snowflake:nth-child(16) {
  -webkit-animation: snow-16 10s infinite;
  animation: snow-16 10s infinite;
}

@-webkit-keyframes snow-16 {
  from {
    transform: translate(301px, -146px);
  }
  to {
    transform: translate(301px, 510px);
  }
}

@keyframes snow-16 {
  from {
    transform: translate(301px, -146px);
  }
  to {
    transform: translate(301px, 510px);
  }
}
.snowflake:nth-child(17) {
  -webkit-animation: snow-17 13s infinite;
  animation: snow-17 13s infinite;
}

@-webkit-keyframes snow-17 {
  from {
    transform: translate(359px, -225px);
  }
  to {
    transform: translate(359px, 535px);
  }
}

@keyframes snow-17 {
  from {
    transform: translate(359px, -225px);
  }
  to {
    transform: translate(359px, 535px);
  }
}
.snowflake:nth-child(18) {
  -webkit-animation: snow-18 7s infinite;
  animation: snow-18 7s infinite;
}

@-webkit-keyframes snow-18 {
  from {
    transform: translate(106px, -182px);
  }
  to {
    transform: translate(106px, 606px);
  }
}

@keyframes snow-18 {
  from {
    transform: translate(106px, -182px);
  }
  to {
    transform: translate(106px, 606px);
  }
}
.snowflake:nth-child(19) {
  -webkit-animation: snow-19 6s infinite;
  animation: snow-19 6s infinite;
}

@-webkit-keyframes snow-19 {
  from {
    transform: translate(14px, -200px);
  }
  to {
    transform: translate(14px, 609px);
  }
}

@keyframes snow-19 {
  from {
    transform: translate(14px, -200px);
  }
  to {
    transform: translate(14px, 609px);
  }
}
.snowflake:nth-child(20) {
  -webkit-animation: snow-20 11s infinite;
  animation: snow-20 11s infinite;
}

@-webkit-keyframes snow-20 {
  from {
    transform: translate(407px, -244px);
  }
  to {
    transform: translate(407px, 615px);
  }
}

@keyframes snow-20 {
  from {
    transform: translate(407px, -244px);
  }
  to {
    transform: translate(407px, 615px);
  }
}
.snowflake:nth-child(21) {
  -webkit-animation: snow-21 14s infinite;
  animation: snow-21 14s infinite;
}

@-webkit-keyframes snow-21 {
  from {
    transform: translate(311px, -224px);
  }
  to {
    transform: translate(311px, 505px);
  }
}

@keyframes snow-21 {
  from {
    transform: translate(311px, -224px);
  }
  to {
    transform: translate(311px, 505px);
  }
}
.snowflake:nth-child(22) {
  -webkit-animation: snow-22 12s infinite;
  animation: snow-22 12s infinite;
}

@-webkit-keyframes snow-22 {
  from {
    transform: translate(189px, -58px);
  }
  to {
    transform: translate(189px, 619px);
  }
}

@keyframes snow-22 {
  from {
    transform: translate(189px, -58px);
  }
  to {
    transform: translate(189px, 619px);
  }
}
.snowflake:nth-child(23) {
  -webkit-animation: snow-23 12s infinite;
  animation: snow-23 12s infinite;
}

@-webkit-keyframes snow-23 {
  from {
    transform: translate(361px, -210px);
  }
  to {
    transform: translate(361px, 590px);
  }
}

@keyframes snow-23 {
  from {
    transform: translate(361px, -210px);
  }
  to {
    transform: translate(361px, 590px);
  }
}
.snowflake:nth-child(24) {
  -webkit-animation: snow-24 15s infinite;
  animation: snow-24 15s infinite;
}

@-webkit-keyframes snow-24 {
  from {
    transform: translate(422px, -97px);
  }
  to {
    transform: translate(422px, 530px);
  }
}

@keyframes snow-24 {
  from {
    transform: translate(422px, -97px);
  }
  to {
    transform: translate(422px, 530px);
  }
}
.snowflake:nth-child(25) {
  -webkit-animation: snow-25 15s infinite;
  animation: snow-25 15s infinite;
}

@-webkit-keyframes snow-25 {
  from {
    transform: translate(136px, -269px);
  }
  to {
    transform: translate(136px, 438px);
  }
}

@keyframes snow-25 {
  from {
    transform: translate(136px, -269px);
  }
  to {
    transform: translate(136px, 438px);
  }
}
.snowflake:nth-child(26) {
  -webkit-animation: snow-26 9s infinite;
  animation: snow-26 9s infinite;
}

@-webkit-keyframes snow-26 {
  from {
    transform: translate(448px, -205px);
  }
  to {
    transform: translate(448px, 430px);
  }
}

@keyframes snow-26 {
  from {
    transform: translate(448px, -205px);
  }
  to {
    transform: translate(448px, 430px);
  }
}
.snowflake:nth-child(27) {
  -webkit-animation: snow-27 9s infinite;
  animation: snow-27 9s infinite;
}

@-webkit-keyframes snow-27 {
  from {
    transform: translate(257px, -174px);
  }
  to {
    transform: translate(257px, 652px);
  }
}

@keyframes snow-27 {
  from {
    transform: translate(257px, -174px);
  }
  to {
    transform: translate(257px, 652px);
  }
}
.snowflake:nth-child(28) {
  -webkit-animation: snow-28 13s infinite;
  animation: snow-28 13s infinite;
}

@-webkit-keyframes snow-28 {
  from {
    transform: translate(94px, -274px);
  }
  to {
    transform: translate(94px, 672px);
  }
}

@keyframes snow-28 {
  from {
    transform: translate(94px, -274px);
  }
  to {
    transform: translate(94px, 672px);
  }
}
.snowflake:nth-child(29) {
  -webkit-animation: snow-29 12s infinite;
  animation: snow-29 12s infinite;
}

@-webkit-keyframes snow-29 {
  from {
    transform: translate(229px, -151px);
  }
  to {
    transform: translate(229px, 581px);
  }
}

@keyframes snow-29 {
  from {
    transform: translate(229px, -151px);
  }
  to {
    transform: translate(229px, 581px);
  }
}
.snowflake:nth-child(30) {
  -webkit-animation: snow-30 6s infinite;
  animation: snow-30 6s infinite;
}

@-webkit-keyframes snow-30 {
  from {
    transform: translate(206px, -190px);
  }
  to {
    transform: translate(206px, 407px);
  }
}

@keyframes snow-30 {
  from {
    transform: translate(206px, -190px);
  }
  to {
    transform: translate(206px, 407px);
  }
}
.snowflake:nth-child(31) {
  -webkit-animation: snow-31 10s infinite;
  animation: snow-31 10s infinite;
}

@-webkit-keyframes snow-31 {
  from {
    transform: translate(51px, -185px);
  }
  to {
    transform: translate(51px, 469px);
  }
}

@keyframes snow-31 {
  from {
    transform: translate(51px, -185px);
  }
  to {
    transform: translate(51px, 469px);
  }
}
.snowflake:nth-child(32) {
  -webkit-animation: snow-32 7s infinite;
  animation: snow-32 7s infinite;
}

@-webkit-keyframes snow-32 {
  from {
    transform: translate(410px, -101px);
  }
  to {
    transform: translate(410px, 668px);
  }
}

@keyframes snow-32 {
  from {
    transform: translate(410px, -101px);
  }
  to {
    transform: translate(410px, 668px);
  }
}
.snowflake:nth-child(33) {
  -webkit-animation: snow-33 13s infinite;
  animation: snow-33 13s infinite;
}

@-webkit-keyframes snow-33 {
  from {
    transform: translate(294px, -86px);
  }
  to {
    transform: translate(294px, 550px);
  }
}

@keyframes snow-33 {
  from {
    transform: translate(294px, -86px);
  }
  to {
    transform: translate(294px, 550px);
  }
}
.snowflake:nth-child(34) {
  -webkit-animation: snow-34 15s infinite;
  animation: snow-34 15s infinite;
}

@-webkit-keyframes snow-34 {
  from {
    transform: translate(319px, -100px);
  }
  to {
    transform: translate(319px, 414px);
  }
}

@keyframes snow-34 {
  from {
    transform: translate(319px, -100px);
  }
  to {
    transform: translate(319px, 414px);
  }
}
.snowflake:nth-child(35) {
  -webkit-animation: snow-35 15s infinite;
  animation: snow-35 15s infinite;
}

@-webkit-keyframes snow-35 {
  from {
    transform: translate(153px, -51px);
  }
  to {
    transform: translate(153px, 537px);
  }
}

@keyframes snow-35 {
  from {
    transform: translate(153px, -51px);
  }
  to {
    transform: translate(153px, 537px);
  }
}
.snowflake:nth-child(36) {
  -webkit-animation: snow-36 11s infinite;
  animation: snow-36 11s infinite;
}

@-webkit-keyframes snow-36 {
  from {
    transform: translate(448px, -13px);
  }
  to {
    transform: translate(448px, 415px);
  }
}

@keyframes snow-36 {
  from {
    transform: translate(448px, -13px);
  }
  to {
    transform: translate(448px, 415px);
  }
}
.snowflake:nth-child(37) {
  -webkit-animation: snow-37 9s infinite;
  animation: snow-37 9s infinite;
}

@-webkit-keyframes snow-37 {
  from {
    transform: translate(246px, -280px);
  }
  to {
    transform: translate(246px, 536px);
  }
}

@keyframes snow-37 {
  from {
    transform: translate(246px, -280px);
  }
  to {
    transform: translate(246px, 536px);
  }
}
.snowflake:nth-child(38) {
  -webkit-animation: snow-38 12s infinite;
  animation: snow-38 12s infinite;
}

@-webkit-keyframes snow-38 {
  from {
    transform: translate(427px, -60px);
  }
  to {
    transform: translate(427px, 461px);
  }
}

@keyframes snow-38 {
  from {
    transform: translate(427px, -60px);
  }
  to {
    transform: translate(427px, 461px);
  }
}
.snowflake:nth-child(39) {
  -webkit-animation: snow-39 9s infinite;
  animation: snow-39 9s infinite;
}

@-webkit-keyframes snow-39 {
  from {
    transform: translate(193px, -105px);
  }
  to {
    transform: translate(193px, 666px);
  }
}

@keyframes snow-39 {
  from {
    transform: translate(193px, -105px);
  }
  to {
    transform: translate(193px, 666px);
  }
}
.snowflake:nth-child(40) {
  -webkit-animation: snow-40 12s infinite;
  animation: snow-40 12s infinite;
}

@-webkit-keyframes snow-40 {
  from {
    transform: translate(363px, -140px);
  }
  to {
    transform: translate(363px, 615px);
  }
}

@keyframes snow-40 {
  from {
    transform: translate(363px, -140px);
  }
  to {
    transform: translate(363px, 615px);
  }
}
.snowflake:nth-child(41) {
  -webkit-animation: snow-41 10s infinite;
  animation: snow-41 10s infinite;
}

@-webkit-keyframes snow-41 {
  from {
    transform: translate(84px, -282px);
  }
  to {
    transform: translate(84px, 642px);
  }
}

@keyframes snow-41 {
  from {
    transform: translate(84px, -282px);
  }
  to {
    transform: translate(84px, 642px);
  }
}
.snowflake:nth-child(42) {
  -webkit-animation: snow-42 7s infinite;
  animation: snow-42 7s infinite;
}

@-webkit-keyframes snow-42 {
  from {
    transform: translate(19px, -234px);
  }
  to {
    transform: translate(19px, 432px);
  }
}

@keyframes snow-42 {
  from {
    transform: translate(19px, -234px);
  }
  to {
    transform: translate(19px, 432px);
  }
}
.snowflake:nth-child(43) {
  -webkit-animation: snow-43 13s infinite;
  animation: snow-43 13s infinite;
}

@-webkit-keyframes snow-43 {
  from {
    transform: translate(158px, -23px);
  }
  to {
    transform: translate(158px, 497px);
  }
}

@keyframes snow-43 {
  from {
    transform: translate(158px, -23px);
  }
  to {
    transform: translate(158px, 497px);
  }
}
.snowflake:nth-child(44) {
  -webkit-animation: snow-44 10s infinite;
  animation: snow-44 10s infinite;
}

@-webkit-keyframes snow-44 {
  from {
    transform: translate(126px, -33px);
  }
  to {
    transform: translate(126px, 613px);
  }
}

@keyframes snow-44 {
  from {
    transform: translate(126px, -33px);
  }
  to {
    transform: translate(126px, 613px);
  }
}
.snowflake:nth-child(45) {
  -webkit-animation: snow-45 10s infinite;
  animation: snow-45 10s infinite;
}

@-webkit-keyframes snow-45 {
  from {
    transform: translate(123px, -93px);
  }
  to {
    transform: translate(123px, 629px);
  }
}

@keyframes snow-45 {
  from {
    transform: translate(123px, -93px);
  }
  to {
    transform: translate(123px, 629px);
  }
}
.snowflake:nth-child(46) {
  -webkit-animation: snow-46 14s infinite;
  animation: snow-46 14s infinite;
}

@-webkit-keyframes snow-46 {
  from {
    transform: translate(256px, -48px);
  }
  to {
    transform: translate(256px, 467px);
  }
}

@keyframes snow-46 {
  from {
    transform: translate(256px, -48px);
  }
  to {
    transform: translate(256px, 467px);
  }
}
.snowflake:nth-child(47) {
  -webkit-animation: snow-47 14s infinite;
  animation: snow-47 14s infinite;
}

@-webkit-keyframes snow-47 {
  from {
    transform: translate(338px, -70px);
  }
  to {
    transform: translate(338px, 405px);
  }
}

@keyframes snow-47 {
  from {
    transform: translate(338px, -70px);
  }
  to {
    transform: translate(338px, 405px);
  }
}
.snowflake:nth-child(48) {
  -webkit-animation: snow-48 7s infinite;
  animation: snow-48 7s infinite;
}

@-webkit-keyframes snow-48 {
  from {
    transform: translate(423px, -64px);
  }
  to {
    transform: translate(423px, 471px);
  }
}

@keyframes snow-48 {
  from {
    transform: translate(423px, -64px);
  }
  to {
    transform: translate(423px, 471px);
  }
}
.snowflake:nth-child(49) {
  -webkit-animation: snow-49 15s infinite;
  animation: snow-49 15s infinite;
}

@-webkit-keyframes snow-49 {
  from {
    transform: translate(246px, -272px);
  }
  to {
    transform: translate(246px, 403px);
  }
}

@keyframes snow-49 {
  from {
    transform: translate(246px, -272px);
  }
  to {
    transform: translate(246px, 403px);
  }
}
.snowflake:nth-child(50) {
  -webkit-animation: snow-50 9s infinite;
  animation: snow-50 9s infinite;
}

@-webkit-keyframes snow-50 {
  from {
    transform: translate(24px, -101px);
  }
  to {
    transform: translate(24px, 447px);
  }
}

@keyframes snow-50 {
  from {
    transform: translate(24px, -101px);
  }
  to {
    transform: translate(24px, 447px);
  }
}
.snowflake:nth-child(51) {
  -webkit-animation: snow-51 9s infinite;
  animation: snow-51 9s infinite;
}

@-webkit-keyframes snow-51 {
  from {
    transform: translate(214px, -7px);
  }
  to {
    transform: translate(214px, 557px);
  }
}

@keyframes snow-51 {
  from {
    transform: translate(214px, -7px);
  }
  to {
    transform: translate(214px, 557px);
  }
}
.snowflake:nth-child(52) {
  -webkit-animation: snow-52 10s infinite;
  animation: snow-52 10s infinite;
}

@-webkit-keyframes snow-52 {
  from {
    transform: translate(7px, -197px);
  }
  to {
    transform: translate(7px, 695px);
  }
}

@keyframes snow-52 {
  from {
    transform: translate(7px, -197px);
  }
  to {
    transform: translate(7px, 695px);
  }
}
.snowflake:nth-child(53) {
  -webkit-animation: snow-53 10s infinite;
  animation: snow-53 10s infinite;
}

@-webkit-keyframes snow-53 {
  from {
    transform: translate(263px, -168px);
  }
  to {
    transform: translate(263px, 600px);
  }
}

@keyframes snow-53 {
  from {
    transform: translate(263px, -168px);
  }
  to {
    transform: translate(263px, 600px);
  }
}
.snowflake:nth-child(54) {
  -webkit-animation: snow-54 15s infinite;
  animation: snow-54 15s infinite;
}

@-webkit-keyframes snow-54 {
  from {
    transform: translate(367px, -102px);
  }
  to {
    transform: translate(367px, 676px);
  }
}

@keyframes snow-54 {
  from {
    transform: translate(367px, -102px);
  }
  to {
    transform: translate(367px, 676px);
  }
}
.snowflake:nth-child(55) {
  -webkit-animation: snow-55 12s infinite;
  animation: snow-55 12s infinite;
}

@-webkit-keyframes snow-55 {
  from {
    transform: translate(405px, -109px);
  }
  to {
    transform: translate(405px, 644px);
  }
}

@keyframes snow-55 {
  from {
    transform: translate(405px, -109px);
  }
  to {
    transform: translate(405px, 644px);
  }
}
.snowflake:nth-child(56) {
  -webkit-animation: snow-56 6s infinite;
  animation: snow-56 6s infinite;
}

@-webkit-keyframes snow-56 {
  from {
    transform: translate(340px, -177px);
  }
  to {
    transform: translate(340px, 492px);
  }
}

@keyframes snow-56 {
  from {
    transform: translate(340px, -177px);
  }
  to {
    transform: translate(340px, 492px);
  }
}
.snowflake:nth-child(57) {
  -webkit-animation: snow-57 9s infinite;
  animation: snow-57 9s infinite;
}

@-webkit-keyframes snow-57 {
  from {
    transform: translate(353px, -254px);
  }
  to {
    transform: translate(353px, 652px);
  }
}

@keyframes snow-57 {
  from {
    transform: translate(353px, -254px);
  }
  to {
    transform: translate(353px, 652px);
  }
}
.snowflake:nth-child(58) {
  -webkit-animation: snow-58 9s infinite;
  animation: snow-58 9s infinite;
}

@-webkit-keyframes snow-58 {
  from {
    transform: translate(401px, -5px);
  }
  to {
    transform: translate(401px, 515px);
  }
}

@keyframes snow-58 {
  from {
    transform: translate(401px, -5px);
  }
  to {
    transform: translate(401px, 515px);
  }
}
.snowflake:nth-child(59) {
  -webkit-animation: snow-59 8s infinite;
  animation: snow-59 8s infinite;
}

@-webkit-keyframes snow-59 {
  from {
    transform: translate(82px, -109px);
  }
  to {
    transform: translate(82px, 575px);
  }
}

@keyframes snow-59 {
  from {
    transform: translate(82px, -109px);
  }
  to {
    transform: translate(82px, 575px);
  }
}
.snowflake:nth-child(60) {
  -webkit-animation: snow-60 14s infinite;
  animation: snow-60 14s infinite;
}

@-webkit-keyframes snow-60 {
  from {
    transform: translate(313px, -162px);
  }
  to {
    transform: translate(313px, 524px);
  }
}

@keyframes snow-60 {
  from {
    transform: translate(313px, -162px);
  }
  to {
    transform: translate(313px, 524px);
  }
}
.snowflake:nth-child(61) {
  -webkit-animation: snow-61 10s infinite;
  animation: snow-61 10s infinite;
}

@-webkit-keyframes snow-61 {
  from {
    transform: translate(313px, -132px);
  }
  to {
    transform: translate(313px, 461px);
  }
}

@keyframes snow-61 {
  from {
    transform: translate(313px, -132px);
  }
  to {
    transform: translate(313px, 461px);
  }
}
.snowflake:nth-child(62) {
  -webkit-animation: snow-62 15s infinite;
  animation: snow-62 15s infinite;
}

@-webkit-keyframes snow-62 {
  from {
    transform: translate(44px, -94px);
  }
  to {
    transform: translate(44px, 541px);
  }
}

@keyframes snow-62 {
  from {
    transform: translate(44px, -94px);
  }
  to {
    transform: translate(44px, 541px);
  }
}
.snowflake:nth-child(63) {
  -webkit-animation: snow-63 6s infinite;
  animation: snow-63 6s infinite;
}

@-webkit-keyframes snow-63 {
  from {
    transform: translate(264px, -98px);
  }
  to {
    transform: translate(264px, 546px);
  }
}

@keyframes snow-63 {
  from {
    transform: translate(264px, -98px);
  }
  to {
    transform: translate(264px, 546px);
  }
}
.snowflake:nth-child(64) {
  -webkit-animation: snow-64 15s infinite;
  animation: snow-64 15s infinite;
}

@-webkit-keyframes snow-64 {
  from {
    transform: translate(290px, -69px);
  }
  to {
    transform: translate(290px, 566px);
  }
}

@keyframes snow-64 {
  from {
    transform: translate(290px, -69px);
  }
  to {
    transform: translate(290px, 566px);
  }
}
.snowflake:nth-child(65) {
  -webkit-animation: snow-65 10s infinite;
  animation: snow-65 10s infinite;
}

@-webkit-keyframes snow-65 {
  from {
    transform: translate(178px, -33px);
  }
  to {
    transform: translate(178px, 508px);
  }
}

@keyframes snow-65 {
  from {
    transform: translate(178px, -33px);
  }
  to {
    transform: translate(178px, 508px);
  }
}
.snowflake:nth-child(66) {
  -webkit-animation: snow-66 12s infinite;
  animation: snow-66 12s infinite;
}

@-webkit-keyframes snow-66 {
  from {
    transform: translate(146px, -173px);
  }
  to {
    transform: translate(146px, 601px);
  }
}

@keyframes snow-66 {
  from {
    transform: translate(146px, -173px);
  }
  to {
    transform: translate(146px, 601px);
  }
}
.snowflake:nth-child(67) {
  -webkit-animation: snow-67 8s infinite;
  animation: snow-67 8s infinite;
}

@-webkit-keyframes snow-67 {
  from {
    transform: translate(263px, -283px);
  }
  to {
    transform: translate(263px, 670px);
  }
}

@keyframes snow-67 {
  from {
    transform: translate(263px, -283px);
  }
  to {
    transform: translate(263px, 670px);
  }
}
.snowflake:nth-child(68) {
  -webkit-animation: snow-68 12s infinite;
  animation: snow-68 12s infinite;
}

@-webkit-keyframes snow-68 {
  from {
    transform: translate(319px, -91px);
  }
  to {
    transform: translate(319px, 655px);
  }
}

@keyframes snow-68 {
  from {
    transform: translate(319px, -91px);
  }
  to {
    transform: translate(319px, 655px);
  }
}
.snowflake:nth-child(69) {
  -webkit-animation: snow-69 13s infinite;
  animation: snow-69 13s infinite;
}

@-webkit-keyframes snow-69 {
  from {
    transform: translate(159px, -71px);
  }
  to {
    transform: translate(159px, 512px);
  }
}

@keyframes snow-69 {
  from {
    transform: translate(159px, -71px);
  }
  to {
    transform: translate(159px, 512px);
  }
}
.snowflake:nth-child(70) {
  -webkit-animation: snow-70 6s infinite;
  animation: snow-70 6s infinite;
}

@-webkit-keyframes snow-70 {
  from {
    transform: translate(71px, -63px);
  }
  to {
    transform: translate(71px, 501px);
  }
}

@keyframes snow-70 {
  from {
    transform: translate(71px, -63px);
  }
  to {
    transform: translate(71px, 501px);
  }
}
.snowflake:nth-child(71) {
  -webkit-animation: snow-71 8s infinite;
  animation: snow-71 8s infinite;
}

@-webkit-keyframes snow-71 {
  from {
    transform: translate(160px, -130px);
  }
  to {
    transform: translate(160px, 524px);
  }
}

@keyframes snow-71 {
  from {
    transform: translate(160px, -130px);
  }
  to {
    transform: translate(160px, 524px);
  }
}
.snowflake:nth-child(72) {
  -webkit-animation: snow-72 7s infinite;
  animation: snow-72 7s infinite;
}

@-webkit-keyframes snow-72 {
  from {
    transform: translate(351px, -62px);
  }
  to {
    transform: translate(351px, 545px);
  }
}

@keyframes snow-72 {
  from {
    transform: translate(351px, -62px);
  }
  to {
    transform: translate(351px, 545px);
  }
}
.snowflake:nth-child(73) {
  -webkit-animation: snow-73 6s infinite;
  animation: snow-73 6s infinite;
}

@-webkit-keyframes snow-73 {
  from {
    transform: translate(106px, -244px);
  }
  to {
    transform: translate(106px, 631px);
  }
}

@keyframes snow-73 {
  from {
    transform: translate(106px, -244px);
  }
  to {
    transform: translate(106px, 631px);
  }
}
.snowflake:nth-child(74) {
  -webkit-animation: snow-74 9s infinite;
  animation: snow-74 9s infinite;
}

@-webkit-keyframes snow-74 {
  from {
    transform: translate(194px, -26px);
  }
  to {
    transform: translate(194px, 605px);
  }
}

@keyframes snow-74 {
  from {
    transform: translate(194px, -26px);
  }
  to {
    transform: translate(194px, 605px);
  }
}
.snowflake:nth-child(75) {
  -webkit-animation: snow-75 15s infinite;
  animation: snow-75 15s infinite;
}

@-webkit-keyframes snow-75 {
  from {
    transform: translate(129px, -203px);
  }
  to {
    transform: translate(129px, 504px);
  }
}

@keyframes snow-75 {
  from {
    transform: translate(129px, -203px);
  }
  to {
    transform: translate(129px, 504px);
  }
}
.snowflake:nth-child(76) {
  -webkit-animation: snow-76 13s infinite;
  animation: snow-76 13s infinite;
}

@-webkit-keyframes snow-76 {
  from {
    transform: translate(236px, -196px);
  }
  to {
    transform: translate(236px, 609px);
  }
}

@keyframes snow-76 {
  from {
    transform: translate(236px, -196px);
  }
  to {
    transform: translate(236px, 609px);
  }
}
.snowflake:nth-child(77) {
  -webkit-animation: snow-77 8s infinite;
  animation: snow-77 8s infinite;
}

@-webkit-keyframes snow-77 {
  from {
    transform: translate(280px, -71px);
  }
  to {
    transform: translate(280px, 422px);
  }
}

@keyframes snow-77 {
  from {
    transform: translate(280px, -71px);
  }
  to {
    transform: translate(280px, 422px);
  }
}
.snowflake:nth-child(78) {
  -webkit-animation: snow-78 15s infinite;
  animation: snow-78 15s infinite;
}

@-webkit-keyframes snow-78 {
  from {
    transform: translate(337px, -75px);
  }
  to {
    transform: translate(337px, 695px);
  }
}

@keyframes snow-78 {
  from {
    transform: translate(337px, -75px);
  }
  to {
    transform: translate(337px, 695px);
  }
}
.snowflake:nth-child(79) {
  -webkit-animation: snow-79 6s infinite;
  animation: snow-79 6s infinite;
}

@-webkit-keyframes snow-79 {
  from {
    transform: translate(109px, -183px);
  }
  to {
    transform: translate(109px, 572px);
  }
}

@keyframes snow-79 {
  from {
    transform: translate(109px, -183px);
  }
  to {
    transform: translate(109px, 572px);
  }
}
.snowflake:nth-child(80) {
  -webkit-animation: snow-80 11s infinite;
  animation: snow-80 11s infinite;
}

@-webkit-keyframes snow-80 {
  from {
    transform: translate(154px, -154px);
  }
  to {
    transform: translate(154px, 547px);
  }
}

@keyframes snow-80 {
  from {
    transform: translate(154px, -154px);
  }
  to {
    transform: translate(154px, 547px);
  }
}
.snowflake:nth-child(81) {
  -webkit-animation: snow-81 12s infinite;
  animation: snow-81 12s infinite;
}

@-webkit-keyframes snow-81 {
  from {
    transform: translate(156px, -130px);
  }
  to {
    transform: translate(156px, 574px);
  }
}

@keyframes snow-81 {
  from {
    transform: translate(156px, -130px);
  }
  to {
    transform: translate(156px, 574px);
  }
}
.snowflake:nth-child(82) {
  -webkit-animation: snow-82 8s infinite;
  animation: snow-82 8s infinite;
}

@-webkit-keyframes snow-82 {
  from {
    transform: translate(60px, -148px);
  }
  to {
    transform: translate(60px, 534px);
  }
}

@keyframes snow-82 {
  from {
    transform: translate(60px, -148px);
  }
  to {
    transform: translate(60px, 534px);
  }
}
.snowflake:nth-child(83) {
  -webkit-animation: snow-83 14s infinite;
  animation: snow-83 14s infinite;
}

@-webkit-keyframes snow-83 {
  from {
    transform: translate(233px, -168px);
  }
  to {
    transform: translate(233px, 563px);
  }
}

@keyframes snow-83 {
  from {
    transform: translate(233px, -168px);
  }
  to {
    transform: translate(233px, 563px);
  }
}
.snowflake:nth-child(84) {
  -webkit-animation: snow-84 10s infinite;
  animation: snow-84 10s infinite;
}

@-webkit-keyframes snow-84 {
  from {
    transform: translate(156px, -82px);
  }
  to {
    transform: translate(156px, 603px);
  }
}

@keyframes snow-84 {
  from {
    transform: translate(156px, -82px);
  }
  to {
    transform: translate(156px, 603px);
  }
}
.snowflake:nth-child(85) {
  -webkit-animation: snow-85 6s infinite;
  animation: snow-85 6s infinite;
}

@-webkit-keyframes snow-85 {
  from {
    transform: translate(39px, -210px);
  }
  to {
    transform: translate(39px, 513px);
  }
}

@keyframes snow-85 {
  from {
    transform: translate(39px, -210px);
  }
  to {
    transform: translate(39px, 513px);
  }
}
.snowflake:nth-child(86) {
  -webkit-animation: snow-86 11s infinite;
  animation: snow-86 11s infinite;
}

@-webkit-keyframes snow-86 {
  from {
    transform: translate(295px, -298px);
  }
  to {
    transform: translate(295px, 594px);
  }
}

@keyframes snow-86 {
  from {
    transform: translate(295px, -298px);
  }
  to {
    transform: translate(295px, 594px);
  }
}
.snowflake:nth-child(87) {
  -webkit-animation: snow-87 15s infinite;
  animation: snow-87 15s infinite;
}

@-webkit-keyframes snow-87 {
  from {
    transform: translate(319px, -257px);
  }
  to {
    transform: translate(319px, 657px);
  }
}

@keyframes snow-87 {
  from {
    transform: translate(319px, -257px);
  }
  to {
    transform: translate(319px, 657px);
  }
}
.snowflake:nth-child(88) {
  -webkit-animation: snow-88 11s infinite;
  animation: snow-88 11s infinite;
}

@-webkit-keyframes snow-88 {
  from {
    transform: translate(108px, -208px);
  }
  to {
    transform: translate(108px, 548px);
  }
}

@keyframes snow-88 {
  from {
    transform: translate(108px, -208px);
  }
  to {
    transform: translate(108px, 548px);
  }
}
.snowflake:nth-child(89) {
  -webkit-animation: snow-89 8s infinite;
  animation: snow-89 8s infinite;
}

@-webkit-keyframes snow-89 {
  from {
    transform: translate(406px, -191px);
  }
  to {
    transform: translate(406px, 641px);
  }
}

@keyframes snow-89 {
  from {
    transform: translate(406px, -191px);
  }
  to {
    transform: translate(406px, 641px);
  }
}
.snowflake:nth-child(90) {
  -webkit-animation: snow-90 14s infinite;
  animation: snow-90 14s infinite;
}

@-webkit-keyframes snow-90 {
  from {
    transform: translate(91px, -278px);
  }
  to {
    transform: translate(91px, 462px);
  }
}

@keyframes snow-90 {
  from {
    transform: translate(91px, -278px);
  }
  to {
    transform: translate(91px, 462px);
  }
}
.snowflake:nth-child(91) {
  -webkit-animation: snow-91 9s infinite;
  animation: snow-91 9s infinite;
}

@-webkit-keyframes snow-91 {
  from {
    transform: translate(177px, -212px);
  }
  to {
    transform: translate(177px, 627px);
  }
}

@keyframes snow-91 {
  from {
    transform: translate(177px, -212px);
  }
  to {
    transform: translate(177px, 627px);
  }
}
.snowflake:nth-child(92) {
  -webkit-animation: snow-92 9s infinite;
  animation: snow-92 9s infinite;
}

@-webkit-keyframes snow-92 {
  from {
    transform: translate(86px, -215px);
  }
  to {
    transform: translate(86px, 494px);
  }
}

@keyframes snow-92 {
  from {
    transform: translate(86px, -215px);
  }
  to {
    transform: translate(86px, 494px);
  }
}
.snowflake:nth-child(93) {
  -webkit-animation: snow-93 15s infinite;
  animation: snow-93 15s infinite;
}

@-webkit-keyframes snow-93 {
  from {
    transform: translate(150px, -109px);
  }
  to {
    transform: translate(150px, 442px);
  }
}

@keyframes snow-93 {
  from {
    transform: translate(150px, -109px);
  }
  to {
    transform: translate(150px, 442px);
  }
}
.snowflake:nth-child(94) {
  -webkit-animation: snow-94 8s infinite;
  animation: snow-94 8s infinite;
}

@-webkit-keyframes snow-94 {
  from {
    transform: translate(127px, -42px);
  }
  to {
    transform: translate(127px, 652px);
  }
}

@keyframes snow-94 {
  from {
    transform: translate(127px, -42px);
  }
  to {
    transform: translate(127px, 652px);
  }
}
.snowflake:nth-child(95) {
  -webkit-animation: snow-95 14s infinite;
  animation: snow-95 14s infinite;
}

@-webkit-keyframes snow-95 {
  from {
    transform: translate(268px, -58px);
  }
  to {
    transform: translate(268px, 403px);
  }
}

@keyframes snow-95 {
  from {
    transform: translate(268px, -58px);
  }
  to {
    transform: translate(268px, 403px);
  }
}
.snowflake:nth-child(96) {
  -webkit-animation: snow-96 10s infinite;
  animation: snow-96 10s infinite;
}

@-webkit-keyframes snow-96 {
  from {
    transform: translate(5px, -13px);
  }
  to {
    transform: translate(5px, 441px);
  }
}

@keyframes snow-96 {
  from {
    transform: translate(5px, -13px);
  }
  to {
    transform: translate(5px, 441px);
  }
}
.snowflake:nth-child(97) {
  -webkit-animation: snow-97 11s infinite;
  animation: snow-97 11s infinite;
}

@-webkit-keyframes snow-97 {
  from {
    transform: translate(450px, -1px);
  }
  to {
    transform: translate(450px, 566px);
  }
}

@keyframes snow-97 {
  from {
    transform: translate(450px, -1px);
  }
  to {
    transform: translate(450px, 566px);
  }
}
.snowflake:nth-child(98) {
  -webkit-animation: snow-98 11s infinite;
  animation: snow-98 11s infinite;
}

@-webkit-keyframes snow-98 {
  from {
    transform: translate(323px, -104px);
  }
  to {
    transform: translate(323px, 632px);
  }
}

@keyframes snow-98 {
  from {
    transform: translate(323px, -104px);
  }
  to {
    transform: translate(323px, 632px);
  }
}
.snowflake:nth-child(99) {
  -webkit-animation: snow-99 15s infinite;
  animation: snow-99 15s infinite;
}

@-webkit-keyframes snow-99 {
  from {
    transform: translate(450px, -246px);
  }
  to {
    transform: translate(450px, 405px);
  }
}

@keyframes snow-99 {
  from {
    transform: translate(450px, -246px);
  }
  to {
    transform: translate(450px, 405px);
  }
}
.snowflake:nth-child(100) {
  -webkit-animation: snow-100 11s infinite;
  animation: snow-100 11s infinite;
}

@-webkit-keyframes snow-100 {
  from {
    transform: translate(114px, -74px);
  }
  to {
    transform: translate(114px, 428px);
  }
}

@keyframes snow-100 {
  from {
    transform: translate(114px, -74px);
  }
  to {
    transform: translate(114px, 428px);
  }
}
@-webkit-keyframes tail {
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-5deg);
  }
}
@keyframes tail {
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes shadow {
  to {
    width: 185px;
  }
}
@keyframes shadow {
  to {
    width: 185px;
  }
}
@-webkit-keyframes eyes {
  50% {
    transform: translate(3px, 2px);
  }
  60% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes eyes {
  50% {
    transform: translate(3px, 2px);
  }
  60% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes eaves {
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
@keyframes eaves {
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
@-webkit-keyframes hoof-one {
  to {
    transform: translateX(2px) rotate(5deg);
  }
}
@keyframes hoof-one {
  to {
    transform: translateX(2px) rotate(5deg);
  }
}
@-webkit-keyframes jump {
  to {
    transform: translateY(-2px) rotate(25deg);
  }
}
@keyframes jump {
  to {
    transform: translateY(-2px) rotate(25deg);
  }
}
@-webkit-keyframes jump-two {
  to {
    transform: translateY(2px);
  }
}
@keyframes jump-two {
  to {
    transform: translateY(2px);
  }
}
@-webkit-keyframes rocking {
  to {
    transform: rotate(-1deg);
  }
}
@keyframes rocking {
  to {
    transform: rotate(-1deg);
  }
}
@-webkit-keyframes ear-left {
  85% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes ear-left {
  85% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes ear-right {
  85% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(170deg);
  }
}
@keyframes ear-right {
  85% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(170deg);
  }
}
@-webkit-keyframes leg-right {
  to {
    transform: translateX(4px) rotate(2deg);
  }
}
@keyframes leg-right {
  to {
    transform: translateX(4px) rotate(2deg);
  }
}
@-webkit-keyframes leg-left {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  50% {
    transform: rotate(5deg) translateX(3px);
  }
}
@keyframes leg-left {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  50% {
    transform: rotate(5deg) translateX(3px);
  }
}

.title {
  text-align: center;
}

.socials {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.socials li {
  display: inline;
}
.socials li:not(:last-child) {
  margin-right: 0.75em;
}
.socials li a {
  vertical-align: middle;
}
.socials li a:hover img {
  -webkit-animation: link 0.5s;
  animation: link 0.5s;
}
.socials li a img {
  width: 1.3em;
}

.credits {
  font-size: 0.8em;
  text-align: center;
}

.love {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/heart-smil.svg);
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

.container {
  height: 300px;
  margin: 40px auto 50px auto;
  position: relative;
}

.artboard {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@-webkit-keyframes link {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

@keyframes link {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
