* {
  margin: 0;
}

html{
  background: radial-gradient(ellipse at center, #d35448 0%,#4a110c 100%);
}


body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: url("../img/fondo1.png");
  background-size: 5%;
  position: relative;
}

header {
  background: url("../img/banner1.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 70px;
}

.wrapper {
  width: 100%;
  margin: auto;
}

.principal {
  padding: 175px 0;
}

.principal2 {
  padding: 20px 0;
}

.video {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.video::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.esdacode-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container_botones {
  width: 100%;
}

.botones{
    margin-top: 20px;
    text-align: center;
}

.botones a {
  margin: 10px;
}

/* .botones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
} */

a {
  text-decoration: none;
  font-weight: 600;
  color: #af1414;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}

a:hover {
  color: white;
  background-color: #a50000;
}

.tabs {
  clear: both;
  display: flex;
  max-width: 650px;
  margin: 0 auto;
  /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  float: left;
}

.tab label {
  margin-right: 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
}

.tab [type="radio"] {
  display: none;
}

.tab__content {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
  opacity: 0;
}

[type="radio"]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #1d1d1d;
  z-index: 2;
}

[type="radio"]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.tuclase h1 {
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  color: #a50000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin: 20px;
  padding: 8px;
  border: 1px solid #a50000;
}

.warpper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  cursor: pointer;
  padding: 4px 18px;
  /* margin: 0px 2px; */
  background: #a50000;
  display: inline-block;
  color: #fff;
  /* border-radius: 3px 3px 0px 0px; */
  box-shadow: 0 0.5rem 0.8rem #a50000;
}

.panels {
  background: #fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 365px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}
.radio {
  display: none;
}
#uno:checked ~ .panels #uno-panel,
#dos:checked ~ .panels #dos-panel,
#tres:checked ~ .panels #tres-panel,
#cuatro:checked ~ .panels #cuatro-panel,
#cinco:checked ~ .panels #cinco-panel,
#seis:checked ~ .panels #seis-panel,
#siete:checked ~ .panels #siete-panel,
#ocho:checked ~ .panels #ocho-panel,
#nueve:checked ~ .panels #nueve-panel {
  display: block;
}
#uno:checked ~ .tabs #uno-tab,
#dos:checked ~ .tabs #dos-tab,
#tres:checked ~ .tabs #tres-tab,
#cuatro:checked ~ .tabs #cuatro-tab,
#cinco:checked ~ .tabs #cinco-tab,
#seis:checked ~ .tabs #seis-tab,
#siete:checked ~ .tabs #siete-tab,
#ocho:checked ~ .tabs #ocho-tab,
#nueve:checked ~ .tabs #nueve-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #a50000;
}

.visibilidad-off {
  display: none;
}

.visibilidad-on {
  display: block;
}

footer {
  background-color: rgb(10 10 10 / 9%);;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-weight: 700;
}

@media screen and (min-width: 768px) {

  .principal {
    padding: 85px 0;
}

  .container_botones {
    width: 100%;
  }

  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .tab {
    padding: 5px 24px;
  }

  .container_botones a {
    padding: 5px 20px;
  }
  .tab {
    padding: 5px 30px;
  }
  .panels {
    max-width: 634px;
  }
}

@media screen and (min-width: 1024px) {

  .principal {
    padding: 30px 0;
}

  header {
    padding: 0;
  }

  .tab {
    padding: 5px 30px;
  }

  .panels {
    max-width: 680px;
  }

  .video {
    width: 90%;
  }
  .tab {
    padding: 5px 30px;
  }
  .panels {
    max-width: 855px;
  }
  .tuclase {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {

  .principal {
    padding: 25px 0;
}

    header {
      padding: 0;
      height: 70px;
    }
  .botones {
      margin-top: 35px;
  }

  .video {
    width: 65%;
  }
  .container_botones a {
    padding: 8px 70px;
  }
  .tabs {
    max-width: 1400px;
  }

  .tab {
    padding: 10px 70px;
  }

  .panels {
    max-width: 1320px;
  }
}

@media screen and (min-width: 2560px) {
  header {
    padding: 55px 0;
  }

  .video {
    width: 80%;
  }
}
